<!DOCTYPE html>
{% extends 'app_six/base.html' %}
{% block body_block %}
<h2>I am in login page</h2>

<div class="jumbotron">
<h2>Please login..</h2>
<form  action="{% url 'app_six:user_login' %}" method="post">
  {% csrf_token %}
  <label for="username"> Usename:</label>
  <input type="text" name="username" placeholder="enter your username">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <input type="Submit" name="" value="login">

</form>

</div>


{% endblock %}
